body{
	background-color: #333;
}
#navBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}


#title {
    font-size: 75px;
    color: whitesmoke;
}
li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
.product-row{
	margin: 0 auto;
}
.product-cell{
	margin-bottom: 150px;
	text-align: center;
	min-width: 300px;
	width:100%;
	border-top: 1px solid rgb(27, 27, 27);
	border-bottom: 1px solid rgb(27, 27, 27);
	padding-bottom: 150px;
	padding-top: 20px;
}

.product-cell h4 {
	font-family: 'Conv_FuturaStd-Medium', serif;
	font-size: 20pt;
	line-height: 22px;
	height: 80px;
	padding-right:5px;
	padding-left: 10px;
	margin-top:20px;
	color: ghostwhite;
}

.price{
	width: 100%;
	margin-top: 0px;
}

.price h4{
	font-size: 30pt;
	height: 24px;
	text-align: center;
	font-family: 'Conv_FuturaStd-Medium', serif;
	color: ghostwhite;
}

.options{
	width:100%;
	height: 70px;
	margin: 0 auto;
}

.size {
	line-height: 30px;
	font-size: 20px;
	width: 100%;
	height: 30px;
	margin: 0 auto;
}

.size-label{
	margin: 0 auto;
	font-family: 'Conv_FuturaStd-Medium', serif;
	color: #999999;
	text-align: center;
	
}
select {
	width: 70px;
	padding: 5px;
	font-family: 'Conv_FuturaStd-Medium', serif;
	border: 1px solid #ccc;
	outline: none;
	border-radius: 2px;
	color: #777;
	max-width: 100%;
	display:block;
	background: #fff;	
	box-sizing: border-box;
	align-items: center;
	cursor:default;
	margin: 0 auto;
	
}
option{
	font-weight: normal;
	display: block;
	min-height: 1.2em;
	padding: 0px 2px 1px;
}

.quantity{
	display: block;
	width: 100px;
	height: 30px;
	line-height: 30px;
	color: #999999;
	margin: 40px auto;
}

.quantity-label{
	display:block;
	font-family: 'Conv_FuturaStd-Medium', serif;
	color: #999999;	
	font-size: 20px
}

input{
	width: 60px;
	display: block;
	font-family: 'Conv_FuturaStd-Medium', serif;
	text-align: center;
	padding: 6px 4px;
	border: 1px solid #ccc;
	outline: none;
	border-radius: 2px;
	color: #777;
	max-width: 100%;
	background: ghostwhite;
	margin: 0 auto;
}
.add-to-cart{
	font-family:'Conv_FuturaStd-Medium', serif;
	background-color: #c20116;
	text-transform: uppercase;
	color: ghostwhite;
	font-size: 20px;
	border: 0px solid;
	text-shadow: none;
	font-weight: normal;
	cursor: pointer;
	margin: 150px auto 20px auto;
	line-height:normal;
	padding: 15px 30px;
	box-sizing: border-box;
}

.add-to-cart:hover{
	background-color: #999999;
	color: black;
}

img{
	max-height: 100%;
	max-width: 100%;
	margin: 0 auto;
	height: 500px;
	width: 500px;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align:baseline;
}