<!-- <div class="product-row">
    <div class="product-cell">
        <img border="0" width="200" height="200" alt="Tedford T-Shirt" src="../../assets/Tedford_T-Shirt.jpg">
        <h4>Tedford T-Shirt</h4>

        <div class="price">
            <h4>US $24.95</h4>
        </div>

        <div class="options">
            <div class="size">
                <div class="size-label">
                    Size:
                </div>

                <select>
                    <option value="0">XL</option>
                    <option value="1">L</option>
                    <option value="2">M</option>
                    <option value="3">S</option>
                </select>
            </div>

            <div class="quantity">
                <div class="quantity-label">
                    Quantity:
                </div>
                <input width="2" maxlength="2" type="text" value="1">
            </div>
        </div>

        <div>
            <button mat-raised-button color="primary">
                ADD TO CART
            </button>
        </div>
    </div>

    <div class="product-cell">
        <img border="0" width="200" height="200" alt="Tedford Coozie" src="../../assets/Tedford_Coozie.jpg">
        <h4>Tedford Coozie</h4>

        <div class="price">
            <h4>US $12.00</h4>
        </div>
        <div class="options">
            <div class="quantity">
                <div class="quantity-label">
                    Quantity:
                </div>
                <input width="2" maxlength="2" type="text" value="1">
            </div>
        </div>
        <button mat-raised-button color="primary">
            ADD TO CART
        </button>
    </div>
</div> -->

<div class="container">
    <mat-card class="product-card">
        <mat-card-header>
            <mat-card-title>
                <span class="product-title-text mat-headline">Tedford T-Shirt</span>
                <span class="product-title-text mat-title">US $24.95</span>
            </mat-card-title>
        </mat-card-header>
        <img mat-card-image class="product-image" alt="Tedford T-Shirt" src="../../assets/Tedford_T-Shirt.jpg">
        <mat-card-content>
            <mat-form-field class="product-content-field">
                <mat-select placeholder="Size">
                    <mat-option [value]="0">
                        XL
                    </mat-option>
                    <mat-option [value]="1">
                        LG
                    </mat-option>
                    <mat-option [value]="2">
                        M
                    </mat-option>
                    <mat-option [value]="3">
                        S
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="product-content-field">
                <input matInput type="number" placeholder="Quantity" min="1">
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary">ADD TO CART</button>
        </mat-card-actions>
    </mat-card>

    <mat-card class="product-card">
        <mat-card-header>
            <mat-card-title>
                <span class="product-title-text mat-headline">Tedford Coozie</span>
                <span class="product-title-text mat-title">US $12.00</span>
            </mat-card-title>
        </mat-card-header>
        <img mat-card-image class="product-image" alt="Tedford T-Shirt" src="../../assets/Tedford_Coozie.jpg">
        <mat-card-content>
            <mat-form-field class="product-content-field">
                <input matInput type="number" placeholder="Quantity" min="1">
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary">ADD TO CART</button>
        </mat-card-actions>
    </mat-card>
</div>
