<!DOCTYPE html>
<html>
<head>
<link rel = "stylesheet" type = "text/css" href = "store.component.css">
<title> The Johnathan Tedford Band | Store </title>
</head>
<body> 
<div class = "product-row-a">
<div class = "product-cell">
<img border = "0" width = "200" height = "200" alt = "Led Zeppelin" src = https://cdn.ontourmedia.io/fanfire/images/product/large/LZE/LZE69871.jpg>
</img>
<h4>Led Zeppelin</h4>

<div class = "price">
<h4>US $24.95</h4>
</div>
<div class = "options">
<div class = "size">
<div class = "size-label">
Size: 
</div>

<select> 
<option value = "0">XL</option>
<option value = "1">L</option>
<option value = "2">M</option>
<option value = "3">S</option>
</select>
</div>

</div>
<div class = "quantity">
<div class = "quantity-label">
Quantity
</div>
<input width = "1" maxlength = "2" size = "1" type = "text" value = "1">
</input>
</div>
<button class = add-to-cart>
ADD TO CART
</button>

</body>
</html>