<!--The content below is only a placeholder and can be replaced.-->
<head>
<link rel="stylesheet" type="text/css" href="app.component.css">
</head>
<body>
    <div>
        <ul id="navBar">
            <router-outlet></router-outlet>
            <li><a routerLink="/home">Home</a></li>
            <li><a routerLink="/videos">Videos</a></li>
            <li><a routerLink="/store">Store</a></li>
        </ul>
        <div style="text-align:center">
      <h1>
          <a routerLink="/" id="title">The Jonathan Tedford Band</a>
      </h1>
    </div>
        </div>
    <div>
            <p class="theLegend"><img src="../assets/JonathanTedfordProfile.jpg" style="float:left;padding-right: 10px"> The Jonathan Tedford Band is a southern rock band from Arkansas.  It is made up of 4 band members, Taylor Victory on bass, Keith Robison on drums, Baylee Moore on lead guitar, Jonathan Tedford on guitar and vocals.  They have been rocking together for a short time, little less then a year. They are now and are looking at coming out with an EP this fall. </p>
            <p class="theLegend">On the upcoming EP one of the songs that will be released entitled, “To You” was written by Tedford when he imagined what it might be like if he lost his family because he spent so much time on the road. It was borne out of pure emotion and creative thinking, but not because it was a real situation. Chorus: “You are my North star, my last chance, you’re like falling in love at a first glance, no matter what I do, I hope it takes me to you.” Tedford credits his wife, Brooke as his biggest support.</p>
        </div>
        
    <router-outlet></router-outlet>
    </body>