<!--The content below is only a placeholder and can be replaced.-->
<head>
<link rel="stylesheet" type="text/css" href="app.component.css">
</head>
<body>
    <div>
        <ul id="navBar">
            <router-outlet></router-outlet>
            <li><a routerLink="/home">Home</a></li>
            <li><a routerLink="/videos">Videos</a></li>
            <li><a routerLink="/store">Store</a></li>
        </ul>
        <div style="text-align:center">
      <h1>
          <a routerLink="/" id="title">The Jonathan Tedford Band</a>
      </h1>
    </div>
        </div>
    <div id="theMan">
        <img src="../assets/JonathanTedfordProfile.jpg">
    </div>
    <router-outlet></router-outlet>
    </body>