<mat-toolbar color="primary" class="mat-elevation-z4 title-bar">
    <a class="nav-button" routerLink="/">Home</a>
    <a class="nav-button" routerLink="/videos">Videos</a>
    <a class="nav-button" routerLink="/store">Store</a>
    <a class="nav-button" href="https://www.facebook.com/Jonathan-Tedford-Music-178930662242485/">
        <mat-icon svgIcon="facebook-box"></mat-icon>Visit our Facebook Page</a>
    <span class="fill-remaining-space"></span>
    <span class="phone-tagline">Please call (479) 965-5022 for bookings</span>
</mat-toolbar>

<div style="text-align:center">
    <h1 class="title mat-display-3">
        <a routerLink="/">The Jonathan Tedford Band</a>
    </h1>
</div>

<router-outlet></router-outlet>
