<mat-grid-list cols="2" rowHeight="1:1" gutterSize="0">
    <mat-grid-tile class="mat-elevation-z8">
        <img src="../assets/JonathanTedfordProfile.jpg" class="grid-image">
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-grid-tile-header class="mat-display-1 mat-elevation-z2">About Jonathan</mat-grid-tile-header>
        <div class="grid-paragraph-container">
            <p class="mat-body-1 grid-paragraph">
                The Jonathan Tedford Band is a southern rock band from Arkansas. It is made up of 4 band members, Taylor Victory on bass,
                Keith Robison on drums, Baylee Moore on lead guitar, Jonathan Tedford on guitar and vocals. They have been rocking
                together for a short time, little less then a year. They are now and are looking at coming out with an EP this
                fall. </p>
            <p class="mat-body-1 grid-paragraph">On the upcoming EP one of the songs that will be released entitled, “To You” was written by Tedford when he imagined
                what it might be like if he lost his family because he spent so much time on the road. It was borne out of pure
                emotion and creative thinking, but not because it was a real situation. Chorus: “You are my North star, my last
                chance, you’re like falling in love at a first glance, no matter what I do, I hope it takes me to you.” Tedford
                credits his wife, Brooke as his biggest support.</p>
            <p class="mat-body-1 grid-paragraph">Chris Stapleton, Cross Canadian Ragweed, Eric Church, Cadillac Three, and Whiskey Meyers are the influences heard
                in Tedford’s music. There is no doubt that Tedford has come a long way from being the guy, at the campfire, with
                a guitar who people kept asking to hear more of his music.</p>
        </div>
    </mat-grid-tile>
    <div class="grid-row-separator"></div>
    <mat-grid-tile>
        <mat-grid-tile-header class="mat-display-1 mat-elevation-z2">Upcoming Events</mat-grid-tile-header>
        <ul class="events mat-headline">
            <li>No Upcoming events</li>
        </ul>
    </mat-grid-tile>
    <mat-grid-tile class="mat-elevation-z8">
        <img id="test" src="../assets/Jonny.jpg">
    </mat-grid-tile>
    <div class="grid-row-separator"></div>
</mat-grid-list>
